# Ignorar archivos y directorios generados por macOS
.DS_Store

# Ignorar entorno virtual de Python
/venv/
/env/
/.venv/
*.pyc
__pycache__/

# Ignorar archivos de configuración local
*.env

# Ignorar directorio de logs
/logs/

# Ignorar archivos de caché
__pycache__/

# Ignorar archivos de respaldo
*.bak
*.swp

# ignorar archivo de la base de datos de SQLite3
database.db
