body, html {
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.chall-grid-div-challenges{
    display: grid; 
    justify-content: space-between;
    grid-template-columns: 0.5fr 0.4fr 0.7fr 0.6fr 0fr 0.5fr 0.6fr 0fr; /* Define las columnas */
}

.chall-grid-div-admin{
    display: grid; 
    justify-content: space-between;
    grid-template-columns: 0.6fr 0.4fr 0.7fr 0.6fr 0fr 0.6fr 0.6fr 0.3fr 0fr; /* Define las columnas */
}

.chall-name{
    color: #007bff;
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.checkbox-completed{
    margin-left: 5px;
}

.div-chall-description{
    margin-bottom: 50px;
}

